<form action="/register" method="POST"  >
    <div class="form-group">
        <label for="">Amount of ether to enter</label>
       <input id="ether" type="text" placeholder="" name="etherCnt">
    </div>
    
    <button>submit</button>
</form>